@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*=====================Header=====================*/
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-list .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*=====================Hero=====================*/
  .hero-section {
    padding: 188px 0;

    max-width: 1440px;
    background-image: linear-gradient(
        var(--hero-background),
        var(--hero-background)
      ),
      url(../images/main/herobg-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          var(--hero-background),
          var(--hero-background)
        ),
        url(../images/main/herobg-desktop@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /*=====================Features=====================*/
  .features {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-description {
    font-weight: 400;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-list-item::before {
    display: block;
    content: "";
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light);
  }

  .icon-antenna::before {
    background-image: url(../images/svg/antenna.svg);
  }

  .icon-clock::before {
    background-image: url(../images/svg/clock.svg);
  }

  .icon-diagram::before {
    background-image: url(../images/svg/diagram.svg);
  }

  .icon-astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
  }

  /*=====================Works=====================*/
  .works {
    display: block;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .works-list {
    display: flex;
    gap: 24px;
  }

  .works-list-item {
    width: calc((100% - 48px) / 3);
  }

  /*=====================Team=====================*/
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /*=====================Customers=====================*/
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /*=====================Footer=====================*/
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .logo-slogan {
    margin-right: 120px;
  }

  .subscribe-field {
    margin-left: auto;
  }

  .subscribe-input {
    border-color: var(--light-text);
  }

  .subscribe-input::placeholder {
    opacity: 1;
  }

  /*=====================Portfolio=====================*/
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .filter {
    margin-bottom: 72px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .project {
    width: calc((100% - 48px) / 3);
  }

  /*=====================Modal=====================*/

  .modal {
    /* min-height: 576px;
    padding: 24px;
  } */
  }
}
