@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .mobile-social-list {
    justify-content: start;
    gap: 56px;
  }

  .modal {
    width: 392px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          var(--hero-background),
          var(--hero-background)
        ),
        url(../images/main/herobg-mob@2x.jpg);
    }
  }
}
