:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --modal-form: rgba(46, 47, 66, 0.2);
  --modal-bg: #fcfcfc;
  --hero-background: rgba(46, 47, 66, 0.7);
  --main-background: #ffffff;
  --footer-social: rgba(255, 255, 255, 0.1);
  --light-text: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  margin: 0;

  background-color: var(--main-background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text);
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--dark);

  border: 1px solid var(--modal-form);
  border-radius: 4px;
  outline: transparent;
}
/*-------------------- Header ----------------------*/
header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 22px;
}

.logo {
  display: block;

  color: var(--dark);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--primary-brand);
}

.site-nav {
  display: none;
}

.contacts-list {
  display: none;
}

/*------------------- Mobile menu -------------------*/
.mobile-menu-btn {
  margin-left: auto;

  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  padding: 80px 35px 40px 40px;
  background-color: var(--main-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .mobile-menu-btn:is(:hover, :focus) {
  background-color: var(--pressed-state);
  border-color: transparent;
  fill: var(--main-background);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.active {
  color: var(--pressed-state);
}

.mobile-contacts-container {
  margin-top: auto;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--primary-brand);
}
@media screen and (max-width: 480px) {
  .mobile-phone {
    font-size: 24px;
  }
}

.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
}

.mobile-social-item {
  min-width: 40px;
  min-height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--primary-brand);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:is(:hover, :focus) {
  background-color: var(--pressed-state);
}

/*----------------- Hero section -------------------*/
.hero-section {
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      var(--hero-background),
      var(--hero-background)
    ),
    url(../images/main/herobg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 767px;
  background-size: cover;
}

.hero-title {
  margin: 0 auto 72px;
  max-width: 320px;

  color: var(--light-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.order-btn {
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;

  background-color: var(--primary-brand);
  color: var(--light-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--pressed-state);
}

/*--------- Features ----------*/

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.feature-list-item {
  width: 100%;
}

/*--------- Works ----------*/
.works {
  display: none;
}

/*--------- Team section ----------*/

.team-section {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--light);
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-content {
  padding: 32px 0;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-background);
  text-align: center;
}

.team-item-description {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--primary-brand);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--pressed-state);
}

/*--------- Customers section ----------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtitle-text);
  border-radius: 4px;

  color: var(--subtitle-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:is(:hover, :focus) {
  border: 1px solid var(--pressed-state);
  color: var(--pressed-state);
}

.customer-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------- Footer ---------------------*/
footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--dark);
  color: var(--accent);
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;

  color: var(--light);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-text {
  margin: 0 auto;
  max-width: 268px;
}

.social-media-subtitle {
  margin-bottom: 16px;

  color: var(--light-text);
  font-size: 16px;
  line-height: 1.5;
  text-transform: none;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--footer-social);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--success);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.subscribe-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--light-text);
  font-size: 12px;
  line-height: 2;
}

.subscribe-input::placeholder {
  color: var(--light-text);
  opacity: 0.6;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
}

.subscribe-icon {
  fill: var(--main-background);
}
/*-------------------------- Portfolio page --------------------------*/
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  justify-content: start;
  column-gap: 24px;
  row-gap: 16px;
}

.filter-btn {
  padding: 8px 16px;
  border: 1px solid var(--accent);
  border-radius: 4px;

  background-color: var(--light);
  color: var(--primary-brand);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  background-color: var(--pressed-state);
  color: var(--light-text);
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  flex-wrap: wrap;
}

.project {
  width: 100%;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.img-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--primary-brand);

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:is(:hover, :focus) .img-text-overlay {
  transform: translateY(0);
}

.project-content {
  padding: 32px 0 32px 16px;
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);

  background-color: var(--main-background);
}

/*---------------- Modal -----------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-overlay);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  min-height: 586px;
  padding: 24px;

  background: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:is(:hover, :focus) {
  background-color: var(--pressed-state);
  border-color: transparent;
  fill: var(--main-background);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/*------------------------ Modal-form -------------------------*/
.modal-form-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text);
}

.form-field-group {
  position: relative;
}

.form-field {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:is(:hover, :focus) {
  border-color: var(--primary-brand);
}

.form-field:is(:hover, :focus) + .form-icon {
  fill: var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:is(:hover, :focus) {
  border-color: var(--primary-brand);
}

.form-textarea::placeholder {
  color: var(--modal-overlay);
}

.checkbox-group {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  gap: 8px;
}

.checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  border: 1px solid var(--dark);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-custom {
  border-color: var(--primary-brand);
  background-color: var(--primary-brand);
}

.checkbox-icon {
  fill: none;
}

.checkbox-input:checked + .checkbox-custom > .checkbox-icon {
  fill: var(--light);
}

.checkbox:checked + .checkbox-input {
  background-color: var(--primary-brand);
  background-image: url(../images/svg/form/click.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text);
}

.policy-link {
  line-height: 1.33;
  color: var(--primary-brand);
}

.send-btn {
  margin: 0 auto;
}
